[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qboxplot"]
	path = qboxplot
	url = https://github.com/cran/qboxplot
[submodule "social"]
	path = social
	url = https://github.com/cran/social
